<ion-header class="event-header" mode="md">
  <div class="header-shadow"></div>
  <ion-title class="ev-title">Info asistencia</ion-title>
</ion-header>

<ion-content [fullscreen]="true" scroll="true" mode="md">

  <div style="margin-bottom: 75px;">
    <ion-item class="event-item" color="custom" mode="md" lines="none">
      <ion-card class="event-card">
          <ion-card-header class="event-card-header">
              <img class="event-img" src="{{ass.eImage}}">
          </ion-card-header>
  
          <ion-card-content class="event-card-content">
              <ion-title class="event-title">{{ass.eName}}</ion-title>
              <ion-item class="text-box" lines="none" color="custom">
                <ion-icon name="map-outline" class="text-icon"></ion-icon>
                  <pre style="margin: 0px; position: relative;"><ion-label class="text">{{ass.eCity}}</ion-label></pre>
              </ion-item>
              <ion-item class="text-box" lines="none" color="custom">
                  <ion-icon name="calendar-number-outline" class="text-icon"></ion-icon>
                  <pre style="margin: 0px; position: relative;"><ion-label class="text">{{ass.eDate}}</ion-label></pre>
              </ion-item>
          </ion-card-content>
      </ion-card>
    </ion-item>
  </div>

  <ion-card class="ion-text-center">
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>

  <ion-button (click)="regresar()" class="back" fill="clear" color="custom" mode="md"><ion-icon  name="close-outline"></ion-icon></ion-button>

</ion-content>
