<ion-content [fullscreen]="true" scroll="true" mode="md">

  <div class="detail-box" lines="none">
    <ion-item class="event-item" color="custom" mode="md" lines="none">
      <ion-card class="event-card">
          <ion-card-header class="event-card-header">
              <img class="event-img" src="assets/IMG/83151969a565b4ad94a7cf9aa025dcd2_L.jpg">
          </ion-card-header>
  
          <ion-card-content class="event-card-content">
              <ion-title class="event-title">Nombre evento</ion-title>

              <div class="text-grid">
                <ion-item class="text-box" lines="none" color="custom">
                  <ion-icon name="map-outline" class="text-icon"></ion-icon>
                  <pre style="margin: 0px; position: relative;"><ion-label class="text"> Maipú</ion-label></pre>
                </ion-item>
                <ion-item class="text-box" lines="none" color="custom">
                  <ion-icon name="calendar-number-outline" class="text-icon"></ion-icon>
                  <pre style="margin: 0px; position: relative;"><ion-label class="text"> 07-45-6565</ion-label></pre>
                </ion-item>
              </div>

              <ion-button class="event-btn" color="custom" fill="clear" mode="md">Participar</ion-button>

          </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-text class="detail-info">
      sadasdasdasdasdasdasdadsasd asdasdasdasdas dasdasdasdas dasdasdasdasd asdasdasdasdas dsadasdasd sadasdasd dasdadasd dasdasdasdasd asdasdadsasdasdasda dasdasasd asdasdasdasdasdasdads asdasda asddasd asd
    </ion-text>
  </div>

  <div class="pes-box" lines="none">
    <ion-button class="pestaña-a" fill="clear" color="custom" mode="md">Comentarios</ion-button>
    <ion-button class="pestaña-b" fill="clear" color="custom" mode="md">Participantes</ion-button>
  </div>

  <ion-item class="comment-item" color="custom">
    <img src="assets/IMG/Ángel_David_Revilla_2019.png" class="comment-img">
    <div class="comment-grid">
      <ion-text class="comment-name">Angél David</ion-text>
      <ion-text class="comment-info">Hola buen dia! estoy muy emocionado por el torneo</ion-text>
    </div>
  </ion-item>

  <ion-item class="comment-item" color="custom">
    <img src="assets/IMG/Ángel_David_Revilla_2019.png" class="comment-img">
    <div class="comment-grid">
      <ion-text class="comment-name">Angél David</ion-text>
      <ion-text class="comment-info">Hola buen dia! estoy muy emocionado por el torneo</ion-text>
    </div>
  </ion-item>

  <ion-item class="comment-item" color="custom">
    <img src="assets/IMG/Ángel_David_Revilla_2019.png" class="comment-img">
    <div class="comment-grid">
      <ion-text class="comment-name">Angél David</ion-text>
      <ion-text class="comment-info">Hola buen dia! estoy muy emocionado por el torneo</ion-text>
    </div>
  </ion-item>

  <ion-item class="comment-item" color="custom">
    <img src="assets/IMG/Ángel_David_Revilla_2019.png" class="comment-img">
    <div class="comment-grid">
      <ion-text class="comment-name">Angél David</ion-text>
      <ion-text class="comment-info">Hola buen dia! estoy muy emocionado por el torneo</ion-text>
    </div>
  </ion-item>

  <ion-item class="comment-item" color="custom" style="margin-bottom: 85px;">
    <img src="assets/IMG/Ángel_David_Revilla_2019.png" class="comment-img">
    <div class="comment-grid">
      <ion-text class="comment-name">Angél David</ion-text>
      <ion-text class="comment-info">Hola buen dia! estoy muy emocionado por el torneo</ion-text>
    </div>
  </ion-item>
 
  <ion-button class="back" fill="clear" color="custom" mode="md"><ion-icon  name="close-outline"></ion-icon></ion-button>

</ion-content>

<ion-footer class="com-footer" mode="md">
  <div class="footer-grid">
    <ion-item class="footer-item" color="Custom" mode="md" lines="none" >
      <ion-input class="footer-input" type="text" placeholder="Agrega un comentario.."></ion-input>
    </ion-item>
    <div>
      <ion-button class="footer-btn" fill="clear" color="custom" mode="md"><ion-icon class="icon-f" name="arrow-forward"></ion-icon></ion-button>
    </div>
  </div>
</ion-footer>
