ion-content{
    --ion-background-color: var(--ion-color-bg-blue);
}

.login-logo{
    width: 80%;
    margin-left: 10%;
    margin-top: 40%
}

.form-label{
    color: var(--ion-color-black);
    font-family: 'Outfit';
    font-weight: bold;
    font-size: 120%;
    margin: 0px;
}
